body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 

.main-container {
    width: 600px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-image: url("./images/burger-header.JPG");
    background-repeat: no-repeat;
    background-size: 600px 167px;
    object-fit: cover;
    color: #ffffff;
    font-weight: 400;
    height: 167px;
    width: 600px;
    margin: 0;
}

h1 {
    font-size: 39px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    padding-left: 45px;
}

h2 {
    font-size: 22px;
    margin-top: 10px;
    padding-left: 45px;
}

/* MENU */

.menu {
    margin: 0 15px;
}

.left {
    display: flex;
}

.food-item {
    display: flex;
    justify-content: space-between;
    border-bottom: #DEDEDE solid 2px;
    padding: 60px 40px;
}

.food-emoji {
    font-size: 100px;
    margin: 0;
}

.food-details {
    align-content: left;
}

.food-details p{
    margin: 5px 0;
}

.food-name {
    font-size: 28px;
}

.food-ingredients {
    font-size: 16px;
    color: #8B8B8B;
}

.food-price {
    font-size: 20px;
}

.food-add {
    font-size: 32px;
    font-weight: 100;
    background: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: #DEDEDE solid 2px;
    padding: 3px;
}